.make-appointment{
    background-image: url('../../../images/appointmentBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    height:420px;
    background-position: center center ;
    z-index:1;
}
.make-appointment::before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position:absolute;
    background:rgb(29, 33, 59);
    opacity: 0.7;
    top:0;
    z-index: -1;
}

.make-appointment img{
    height:550px;
    transform: translateY(-130px);
   
}
.text-color{
    color:indigo,lightsalmon;
}